<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>ANGULAR Life Cycle Hooks</h1>

      <ul>
        <li>
          All components and directives in Angular have a lifecycle as Angular
          creates, updates and destroys them.
        </li>
        <li>
          We can implement the lifecycle hook interfaces and use the respective
          method to tap into any lifecycle moments.
        </li>
        <li>Components have more lifecycle hooks than directives.</li>
        <li>
          These are the common lifecycle hooks <strong>available in both components and
          directives</strong>:
          <ul>
            <li><strong>ngOnInit</strong></li>
            <li><strong>ngOnDestroy</strong></li>
            <li><strong>ngOnChanges</strong></li>
            <li><strong>ngDoCheck</strong></li>
          </ul>
        </li>
        <li>
          and these are the lifecycle hooks <strong>available only in components</strong> to be more specific we can say in children components.
          <ul>
            <li><strong>ngAfterContentInit</strong></li>
            <li><strong>ngAfterContentChecked</strong></li>
            <li><strong>ngAfterViewInit</strong></li>
            <li><strong>ngAfterViewChecked</strong></li>
          </ul>
        </li>
        <li>
          As a side note, <strong>constructor</strong> is not a life cycle hook.
          It is a typescript feature.
        </li>
      </ul>

      <div class="card my-4">
        <div class="card-body">
          <h2 class="card-title">Example:</h2>
          <app-parent></app-parent>
        </div>
      </div>

      <h3>ngOnOnit</h3>
      <ul>
        <li>
          will be invoked <strong>when the component has initialized.</strong>
        </li>
        <li>
          this hook will be called
          <strong>only once after the first ngOnChanges.</strong>
        </li>
        <li>
          We can implement the OnInit interface to use this hook. When we create
          a component using Angular CLI, we can see the ngOnInit hook has been
          implemented already.
        </li>
        <li>Mostly, we use ngOnInit for doing initializations.</li>
        <li>
          If we add a button in parent component and display the child component
          when the button is clicked. So now, we can see only the parent
          constructor is called and then the parent oninit is called. Child
          component hooks are not called because child component is not yet
          initialized. Now, when I click the button, we can see the child
          constructor is called and child oninit method is also called. So, we
          can understand once the component is loaded into the dom, that
          component's constructor and the oninit method will be called.
        </li>
      </ul>

      <h3>ngOnDestroy</h3>
      <ul>
        <li>
          OnDestroy will be called
          <strong>once just before the component is removed from the DOM</strong
          >, in other words when the component is destroyed from the DOM. So, if
          we need any cleaning activities we can do it in OnDestroy.
        </li>
        <li>
          We can use onDestroy to clear these setInterval intervals, we can
          unsubscribe if we subscribe any observables, etc.
        </li>
      </ul>

      <h3>ngOnChanges</h3>
      <ul>
        <li>
          OnChanges will be called
          <strong
            >once before OnInit and will be called whenever the data-bound input
            properties changes</strong
          >. When I say data-bound input, it is not the normal input in the same
          component. It should be something coming outside of that component
          through @Input.
        </li>
        <li>
          ngOnchanges is not called before OnInit. Even, if I change this input
          value, we can see the value is getting changed but still the
          ngOnchanges is not called.
        </li>
        <li>
          If we move this input from child to parent component and pass this to
          child component through @Input. Now, when we load the page, we can see
          parent constructor is called and then parent oninit is called after
          that child constructor is called and before child oninit we can see
          child onchanges is called once. When I change this input value in
          parent, the onchanges in child is called for every keystroke. So, it
          is not a good practice to do any expensive operations like API call
          inside onChanges.
        </li>
        <li>
          Also, ngOnChanges accepts a <strong>SimpleChanges object</strong> and
          using that we can make use of previous and current values.
        </li>
      </ul>

      <h3>ngDoCheck</h3>
      <ul>
        <li>docheck will be invoked when the change detector of the given component is invoked.
          It is called <strong>immediately after ngOnChanges() on every change detection run, and immediately
          after ngOnInit() on the first run.</strong></li>
        <li>In development mode change detection run twice and so we can see Docheck is called one more time in each component.
        </li>
        <li>We should avoid triggering any expensive operations inside ngDoCheck. 
        </li>
        <li>Also, we should avoid using ngOnChanges and ngDoCheck in the same component. Sometimes, the change detection triggers another change and it became an infinite loop.</li>
        <li></li>
      </ul>

      <h3>ngAfterContentInit</h3>
      <ul>
        <li>ngAfterContentInit will be called <strong>only once after the first docheck</strong>.
        </li>
        <li>If we load the page, we can see AfterContentInit is called after Child docheck and also, we
          cannot access this variable till the content is initialized.
          That means, in all other hooks this is coming as undefined and only in AfterContentInit
          this is not undefined.</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      
      <h3>ngAfterContentChecked</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h3>ngAfterViewInit</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h3>ngAfterViewChecked</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
